<%= form_for [resource, Comment.new], remote: true, :html => {:'data-type' => 'json', id: resource.class }, role: "form" do |f| %>
  <% if @comment.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_area :content, rows: 2, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Add comment", class: "btn" %>
  </div>
<% end %>