<h1>JRM home page :)</h1>

<%= link_to 'Login', new_user_session_path %>
<p>New to JRM? Sign-up here</p>
<%= link_to 'Sign up', new_user_registration_path %>

<%= image_tag "jrm-logo.png", height: '50', width: '100' %>